<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Username" [(ngModel)]="username" required>
        <mat-error>Username Is Required</mat-error>
    </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Password Is Required</mat-error>
      </mat-form-field>
    </p>


      <div class="button">
        <button mat-button (click)="onLogin()" [disabled]="(username == '' || password == '')">Login</button>
      </div>

  </mat-card-content>
</mat-card>
